.password-input-container {
    position: relative;
    width: fit-content;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-password svg {
    width: 18px;
    height: 18px;
}

.hidden {
    display: none;
}



button[type="submit"] {
    margin-top: 20px;
}